.header {
    position: fixed;
    z-index: 1;
    width: 100%;
}
.logo {
    height: 48px;
    cursor: pointer;
}
.slot {
    position: absolute;
    right: 0;
}

.mainHeight{
    background: #fff;
    padding: 0;
    height: auto;
    min-height: 800px;
    marginTop: 38px;
}