.register-header {
    text-align: center;
    margin-top: 10%;
}
.register-button {
    width: 100%;
    margin-top: 10px;
}
.login-header {
    text-align: center;
    margin-top: 10%;
}
.login-card {
    width: 100%;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 5px;
}
.login-footer-card {
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
    text-align: center;
}

.repoList {
    margin-top: 10px;
}
.form-text {
    font-family: Verdana;
    font-weight: bold;
    color: black;
}
.title-text {
    font-family: Verdana;
    color: black;
}
.github-text {
    padding: 0 16px;
}
.github-textCreated {
    padding: 5px 0;
}

.detection{
    margin-top: 160px ;
}

.causeSmellPackage{
    padding-left: 40px;
}

.cd-text {
    font-family: Verdana;
    font-weight: bold;
    color: cadetblue;
}

.table-text {
    font-family: Verdana;
    font-weight: inherit;
    color: black;
    padding: 20px 20px;
}

.table-flow {
    padding-left: 40px;
}

.title-text1 {
    font-family: Verdana;
    color: dodgerblue;
    float: left;
    width: 100px;
}

.title-text2 {
    color: black;
    float: left;
    width: 200px;
}

.title1 {
    color: black;
}

.category{
    background-color: #C0C0C0;
    border-radius:5px 5px;
    box-shadow: 0px 0px 10px 5px #E0E0E0;
}

.gitButton1{
    margin-top: 40px;
    width: 90px;
}

.gitButton2{
    width: 90px;
    margin-top: 30px;
}

